@import url('https://fonts.googleapis.com/css?family=ABeeZee|Arima+Madurai|Courgette|Josefin+Sans');

body{
    margin: 0;
}
li{
    list-style: none;
}

/* HEADER */

#Header {
    width: 100%;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}
#Header > img{
    height: 100px;
}
#Header > div{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

#Menu{
    width: 600px;
    display: flex;
    align-items: center;
}
